.aboutMoreArticle {
  border: 1px solid #000;
  border-radius: 46px;
  width: 900px;
  margin: 112px auto;
  padding: 80px 48px 120px;
  text-align: center;

  @media only screen and (max-width: 600px) {
    width: auto;
    margin: 56px 16px 94px;
    padding: 36px 12px 56px;
  }
}

.aboutMoreTitle {
  font-size: 40px;
  line-height: 1;
  font-weight: bold;
  font-family: 'beirut', sans-serif;

  @media only screen and (max-width: 600px) {
    font-size: 24px;
  }
}

.aboutMoreText {
  margin-top: 8px;

  @media only screen and (max-width: 600px) {
    font-size: 12px;
    margin-top: 4px;
  }
}

.activitiesArea {
  margin-top: 80px;
  padding-top: 64px;
  border-top: 1px solid #000;

  @media only screen and (max-width: 600px) {
    margin-top: 36px;
    padding-top: 36px;
  }
}

.articleSubTitle {
  font-family: 'Josefin Sans', sans-serif;

  @media only screen and (max-width: 600px) {
    font-size: 20px;
  }
}

.articleSubText {
  @media only screen and (max-width: 600px) {
    font-size: 10px;
  }
}

.activitiesTitle {
  font-size: 33px;
  line-height: 1;
}

.activitiesText {
  font-size: 16px;
  margin-top: 16px;
}

.activityList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 54px;
  row-gap: 32px;
  margin-top: 40px;
  padding: 0 56px;

  @media only screen and (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 8px;
    column-gap: 0;
    row-gap: 24px;
  }
}

.activityListItemTitle {
  font-size: 21px;
  line-height: 1;
  margin-top: 24px;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;

  @media only screen and (max-width: 600px) {
    font-size: 16px;
    margin-top: 12px;
  }
}

.activityListItemTitleJP {
  margin-top: 8px;
  line-height: 1;
  font-size: 11px;
  font-weight: bold;

  @media only screen and (max-width: 600px) {
    margin-top: 4px;
  }
}

.StrengthsArea {
  margin-top: 56px;
  padding-top: 64px;
  border-top: 1px solid #000;
}

.LikesArea {
  margin-top: 56px;
  padding-top: 64px;
  border-top: 1px solid #000;

  @media only screen and (max-width: 600px) {
    margin-top: 36px;
    padding-top: 36px;
  }
}

.LikesAreaWrapper {
  font-family: 'beirut', sans-serif;
  font-weight: bold;
  margin-top: 40px;

  @media only screen and (max-width: 600px) {
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) {
  .activityList {
    grid-template-columns: repeat(1, 1fr);
  }
}
