.aboutMoreArticle {
  border: 1px solid #000;
  border-radius: 46px;
  width: 900px;
  margin: 112px auto;
  padding: 80px 48px 120px;
  text-align: center;
}

.aboutMoreTitle {
  font-size: 40px;
  line-height: 1;
  font-weight: bold;
  font-family: 'beirut', sans-serif;
}

.aboutMoreText {
  margin-top: 8px;
}

.activitiesArea {
  margin-top: 80px;
  padding-top: 64px;
  border-top: 1px solid #000;
}

.articleSubTitle {
  font-family: 'Josefin Sans', sans-serif;
}

.activitiesTitle {
  font-size: 33px;
  line-height: 1;
}

.activitiesText {
  font-size: 16px;
  margin-top: 16px;
}

.activityList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 54px;
  row-gap: 32px;
  margin-top: 40px;
  padding: 0 56px;
}

.activityListItemTitle {
  font-size: 21px;
  line-height: 1;
  margin-top: 24px;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
}

.activityListItemTitleJP {
  margin-top: 8px;
  line-height: 1;
  font-size: 11px;
  font-weight: bold;
}

.StrengthsArea {
  margin-top: 56px;
  padding-top: 64px;
  border-top: 1px solid #000;
}

.LikesArea {
  margin-top: 56px;
  padding-top: 64px;
  border-top: 1px solid #000;
}

.LikesAreaWrapper {
  font-family: 'beirut', sans-serif;
  font-weight: bold;
  margin-top: 40px;
}
