.introductionSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 64px 0 72px;
  font-weight: 600;
}

.introductionTitle {
  font-size: 26px;
  line-height: 1;
}

.IntroductionText {
  width: 628px;
  font-size: 18px;
  line-height: 36px;
  margin-top: 32px;
}
