.mvSection {
  background-color: #1a656a;
  padding: 100px 0 160px;
  margin-top: -64px; /* ヘッダー分 */

  @media (max-width: 600px) {
    padding: 100px 16px 0;
    margin-top: -50px; /* ヘッダー分 */
    padding-top: 72px;
    height: 100vh;
  }
}

.sectionTitleWrapper {
  margin: auto;
  width: 600px;
  text-align: right;

  @media (max-width: 600px) {
    width: auto;
  }
}

.pageTitleSub {
  font-family: 'beirut', sans-serif;
  font-size: 20px;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.pageTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  line-height: 1;
  width: 320px;
  color: #000;
}

.pageTitleMain {
  font-size: 76px;
  font-family: 'impact', cursive;

  @media (max-width: 600px) {
    font-size: 60px;
  }
}

.mainImageArea {
  margin-top: 4px;
  width: 600px;
  margin: auto;

  @media (max-width: 600px) {
    width: auto;
    margin: 16px 0 0 44px;
  }
}

.mainImageWrapper {
  display: flex;
  justify-content: center;

  @media (max-width: 600px) {
    margin-right: -16px;
  }
}

.mainImage {
  @media (max-width: 600px) {
    max-width: 100%;
    height: auto;
  }
}

.mainImageDescription {
  color: #000;
  font-size: 12px;
  font-family: 'beirut', sans-serif;
  font-weight: bold;
  text-align: right;
  margin-top: 8px;
  line-height: 1;
}
