.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 32px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo {
  font-size: 21px;
  font-family: 'Josefin Sans', sans-serif;
  color: #000;
}

.hamburger {
  background: #000;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hamburgerBorder {
  background: #fff;
  width: 20px;
  height: 2px;
}

.hamburgerBorder + .hamburgerBorder {
  margin-top: 8px;
}
