.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 32px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo {
  font-size: 21px;
  font-family: Hiragino Kaku Gothic ProN;
}

.hamburger {
  background: #000;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
}
