.profileValueSection {
  text-align: center;
  background: #b6433d;
  color: #ffe2a6;
}

.profileValueSectionTitleImage {
  margin: auto;
  width: 32px;

  @media (max-width: 600px) {
    width: 24px;
  }
}

.profileValueSectionTitleImageCorevalues {
  margin: auto;
  width: 32px;
}

.profileAreaTitle {
  font-size: 20px;
  font-weight: bold;
  font-family: 'beirut', sans-serif;
  line-height: 1;
  margin-top: 8px;

  @media (max-width: 600px) {
    font-size: 18px;
  }
}

.profileArea {
  margin-top: 54px;
  padding-bottom: 64px;

  @media (max-width: 600px) {
    padding-bottom: 0;
    margin-top: 32px;
  }
}

.profileArea + .profileArea {
  @media (max-width: 600px) {
    margin-top: 60px;
  }
}

.profileWrapper {
  display: flex;
  width: 600px;
  margin: auto;
  justify-content: space-between;
  margin-top: 40px;

  @media (max-width: 600px) {
    flex-direction: column;
    width: auto;
    margin-top: 24px;
    align-items: center;
  }
}

.profileIconImageWrapper {
  width: 108px;
  overflow: hidden;
}

.profileIconImage {
  width: 233px;
  height: 233px;
  object-fit: cover;
}

.profileInfoDl {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 600px) {
    text-align: center;
    margin-top: 32px;
  }
}

.profileInfoDt {
  font-size: 20px;
  font-weight: bold;

  @media (max-width: 600px) {
    font-size: 16px;
  }
}

.profileInfoDd {
  line-height: 2;

  @media (max-width: 600px) {
    font-size: 14px;
    margin-top: 12px;
  }
}

.profileValueList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 900px;
  margin: 40px auto 0;
  gap: 24px;

  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    width: auto;
  }
}

.profileValueListItem + .profileValueListItem {
  @media (max-width: 600px) {
    margin-top: 24px;
  }
}

.profileValueListItemImage {
  margin: auto;
  width: 100%;
  height: auto;
}

.profileValueListItemTitle {
  font-size: 24px;
  line-height: 1;
  font-weight: semi-bold;
  margin-top: 24px;
  font-family: 'Josefin Sans', sans-serif;

  @media (max-width: 600px) {
    font-size: 22px;
    margin-top: 12px;
  }
}

.profileValueListItemTitleJP {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 8px;

  @media (max-width: 600px) {
    font-size: 12px;
    margin-top: 4px;
  }
}

.profileValueListItemTitleText {
  margin-top: 24px;
  font-size: 11px;
}
