.worksSection {
  text-align: center;
}

.worksTitleImage {
  margin: auto;
}

.worksText {
  font-family: 'beirut', sans-serif;
  font-weight: bold;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}
